<div
  class="wrapper"
  [ngClass]="{
    'sidebar-inactive-l': menuInactiveDesktop,
    'sidebar-active-m': menuActiveMobile,
    'p-ripple-disabled': !app.ripple,
    'p-input-filled': app.inputStyle === 'filled'
  }"
>
  <div class="topbar clearfix">
    <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
      <span class="pi pi-bars"></span>
    </a>
    <span class="topbar-title"></span>
    <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
      <span class="pi pi-ellipsis-h"></span>
    </a>

    <!-- NAV HEADER ICON MENU -->
    <div
      id="topbar-icons"
      class="animated"
      [ngClass]="{
        'topbar-icons-visible flipInX': topMenuActive,
        flipOutX: topMenuLeaving
      }"
    >
      <div class="p-grid p-ml-8 topbarContainerAutocomplete-custom">
        <div class="col">
          <div class="p-inputgroup p-mr-2">
            <p-autoComplete
              class="topbarAutocomplete-custom-custom"
              placeholder="Buscar"
              [(ngModel)]="selectedOptSistema"
              [suggestions]="arr_sistema_options"
              (completeMethod)="onAutoCompleteBuscarEnSistema($event)"
              field="name"
              [dropdown]="false"
            >
              <ng-template let-item pTemplate="item">
                <p-card>
                  <ng-template pTemplate="header">
                    <b>{{ item.empleados }}</b>
                  </ng-template>
                  <b>Grupos</b>
                  <div class="p-grid">
                    <div class="p-col-4" *ngFor="let grupo of item.grupos">
                      <p-tag
                        (click)="onClickGrupos($event, grupo)"
                        [value]="grupo"
                      ></p-tag>
                    </div>
                  </div>
                  <ng-template pTemplate="footer">
                    <b>Elementos del Menu</b>
                    <div class="p-grid">
                      <div
                        class="p-col-4"
                        *ngFor="let elementosMenu of item.elementosMenu"
                      >
                        <p-chip
                          (click)="onClickElementos($event, elementosMenu)"
                          [label]="elementosMenu"
                        ></p-chip>
                      </div>
                    </div>
                  </ng-template>
                </p-card>
              </ng-template>
            </p-autoComplete>
            <span
              style="background-color: white"
              class="p-inputgroup-addon topbarAutocompleteSpan-custom"
            >
              <i class="pi pi-search"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <a
            class="topbar-icon pi pi-inbox p-mr-2 topbarIconsBtns-custom"
            (click)="onNavigateToNotif()"
            pTooltip="Bandeja de Notificaciones"
            tooltipPosition="left"
          >
          </a>
        </div>
        <div class="col">
          <a
            class="topbar-icon pi pi-sign-out topbarIconsBtns-custom"
            pTooltip="Cerrar Sesión"
            tooltipPosition="left"
          >
          </a>
        </div>
      </div>
    </div>

    <!-- NAV HEADER ICON MENU END-->
  </div>
  <div class="sidebar" (click)="onMenuClick()">
    <div class="sidebar-scroll-content">
      <div
        class="logo"
        routerLink="/dashboard"
        style="outline: none; cursor: pointer"
      >
        <!--  <h5><mark >Liberasoft</mark>  </h5>-->
        <img src="assets/img/logo-2000x500-2000x500.png" alt="" width="113" />
      </div>

      <div class="profile">
        <p-avatar
          [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          icon="pi pi-user"
          styleClass="p-mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <br />
        <a id="profile-button" (click)="toggleProfile($event)">
          <span class="username">{{ this.username }}</span>
          <i class="pi pi-fw pi-cog"></i>
        </a>
      </div>

      <app-menu></app-menu>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
