/* Estilos personalizados */

.topbarContainerAutocomplete-custom {
  position: absolute;
  top: 1em;
  right: 2em;
}

.topbarIconsBtns-custom {
  font-size: 2em;
}

/* PrimeNG arreglos */

::ng-deep
  .p-inputgroup
  > .p-inputwrapper:first-child
  > .p-component
  > .p-inputtext {
  width: 15vw;
}

::ng-deep .p-inputgroup .p-inputwrapper > .p-component {
  width: 100%;
}
