.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.option-button-container {
  display: flex;
  justify-content: center;
}

.welcome-title {
  font-size: 3em;
}

.description-title {
  margin: .5em 0;
  font-size: 1.5em;
}

.quantity-title {
  margin: .5em 0;
  font-size: 1.3em;
}

.question-title {
  margin: 1em 0;
  font-size: 2.3em;
}

.response-title {
  margin: 1em;
  font-size: 1.3em;
}

.welcome-button, .result-button {
  font-size: 1.5em;
  margin: 1em 0;
  padding: .5em 1em;
  border-radius: 2em;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: .3s;
}

.welcome-button:hover {
  background-color: var(--blue_selected);
}

.option-button {
  font-size: 1.5em;
  margin: 1em;
  padding: .5em 1em;
  border-radius: 2em;
  background-color: var(--gray);
  color: var(--black);
  border: none;
  cursor: pointer;
  transition: .3s;
}

.correct {
  background-color: var(--green);
}

.incorrect {
  background-color: var(--red);
}
