.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav ul {
  padding: 0;
}

.sidenav ul li {
  list-style-type: none;
}

.sidenav ul li a {
  padding-left: 50px;
}

.main-content {
  margin-left: 200px; /* Same width as the sidebar */
  padding: 20px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
}

