/* sidenav */

.sidenav {
  height: 100%;
  width: 23vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--blue);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Logo Container */

.logo-container {
  width: 100%;
  padding: .5em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-logo {
  width: 8em;
}

/* ng-template sidenavRoutes */

.sidenav a {
  padding: .7em 1.3em;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--white);
  display: block;
  cursor: pointer;
}

.sidenav ul {
  padding: 0;
  transition: 3s;
}

.sidenav ul li {
  list-style-type: none;
}

.sidenav ul li a {
  padding-left: 50px;
}

.active {
  background-color: var(--blue_selected);
  transition: .3s;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
}

.toggle-button {
  position: absolute;
  top: 20px;
  left: 17vw;
  z-index: 1000;
}

