<body>
  <main>
    <div class="radio-container">
      <iframe class="radio-iframe" src="https://player.radioking.io/make-it-happen1/?c=%23000000&c2=%23ffffff&f=h&i=0&p=0&s=0&li=0&popup=0&plc=NaN&h=undefined&l=470&v=2" frameborder="0"></iframe>
      <p class="radio-text">La radio que alimenta tu alma 🎶<i class="fa fa-music"></i></p>
    </div>
    <div class="microphone-container">
      <img class="microphone-icon" src="../../../../assets/icons/microphone.png" alt="microphone">
    </div>
  </main>
</body>
