/* Desktop styles */

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.radio-icon {
  width: 30em;
  margin-right: 3vw;
}

.radio-iframe {
  margin-top: 7vw;
  margin-right: 2vw;
  width: 100%;
  border-radius: 2em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.speaker-container {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  width: 100%;
}

.speaker-icon {
  width: 18em;
  border: .5em solid var(--black);
  border-radius: 100%;
  margin-right: 2em;
}

.speaker-description-container {
  display: flex;
  flex-direction: column;
}

.speaker-text {
  font-size: 1.3em;
}

.speaker-name {
  font-weight: bolder;
  font-size: 2.5em;
}

.speaker-country {
  font-size: 1.3em;
}

.speaker-contact-container {
  display: flex;
}

/* Tablet styles */

@media (min-width: 40em) and (max-width: 70em){

}

/* Highest mobile styles */

@media (min-width: 35em) and (max-width: 39.9em){

}

/* Lowest mobile styles */

@media (min-width: 15em) and (max-width: 34.9em){

}
