<div class="exception-body">
    <div class="exception-wrapper access"
    
    style="
    background-color: transparent !important; 
    box-shadow: none !important; opacity: none !important;" 
    >
        <img src="assets/layout/images/access.png" alt="omega-layout"/>

        <p class="message-title">Acceso Denegado!</p>
        <p class="message-summary">Póngase en contacto con un administrador</p>

        <a href="/"  onmouseover="this.style.color='black';" >
            <i class="pi pi-home"></i>
            <span>Dashboard</span>
        </a>
    </div>
</div>
