/****************************************  GENERAL (DESKTOP)  ******************************************/

.dexcarriados-mobile-btn {
  display: none;
  border: none;
  outline: none;
  font-family: 'Raleway', cursive;
  padding: .5em 2em;
  font-size: 1.25em;
  border-radius: 2em;
  margin-top: 1em;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.7s;
}

.carousel-title-scroll {
  display: none;
}

.carousel-container {
  padding-top: 5em;
  height: 100%;
}

.carousel-subcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.carousel-image-container {
  height: 70vh;
}
.carousel-image {
  width: 40vw;
  height: 100%;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.carousel-title {
  font-family: 'Inter', cursive;
  font-size: 2em;
  opacity: 0.9;
  color: #000000;
  margin: 0.5em 0;
  font-style: italic;
  text-shadow: 1px 1px 2px #adadad;
}

.carousel-image:not(:first-child) {
  transform: translateX(100%);
}

.dexcarriados {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.dexcarriados-answer {
  font-family: 'Raleway', cursive;
  color: #ff1818;
  font-size: 2.1em;
  text-shadow: 1px 1px 2px #ff1818;
  font-weight: bold;
}

.dexcarriados-ul {
  padding-top: 1em;
}

.dexcarriados-item{
  font-family: 'Raleway', cursive;
  font-size: 1.5em;
  padding: 0.25em 0;
  color: #000000;
  font-weight: bold;
}

.dexcarriados-btn {
  background-color: var(--red);
  color: var(--letter);
  text-shadow: 0.5px 0.5px 2px #000000;
  box-shadow: 0 0 .13em 0 #00000080;
  padding: .5em 2.2em;
  margin: 0.55em 1em;
  font-size: 1.7em;
  border-radius: 2em;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  outline: none;
}

.dexcarriados-btn:hover {
  opacity: 1;
}

.dexcarriados-span {
  font-family: 'Raleway', cursive;
  font-size: 1em;
  padding: 0.25em 0;
  color: #ff1818;
  text-shadow: 1px 1px 2px #ff1818;
  font-weight: bold;
}

.dexcarriados-span-active {
  font-family: 'Inter', cursive;
  font-size: .9em;
}

.carousel-span {
  font-size: .9em;
  font-family: 'Inter', cursive;
  font-style: normal;
  color: #000000;
}

/*************************************  NOTEBOOK/TABLET STYLES  ****************************************/

@media (min-width: 40em) and (max-width: 70em){
  .carousel-container {
    width: 100vw;
    height: 100%;
  }
  .carousel-subcontainer {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    height: 100vh;
    justify-content: flex-start;
  }
  .carousel-title {
    font-size: 2em;
    color: #000000;
    text-align: center;
    text-shadow: 0.5px 0.5px 1.5px #000000;
  }
  .carousel-span {
    font-size: 1em;
    font-family: 'Inter', cursive;
    font-style: normal;
    color: #000000;
  }
  .carousel-image-container {
    width: 50vw;
    height: 55vh;
  }
  .carousel-image {
    width: 100%;
    height: 100%;
  }
  .carousel-title-scroll {
    width: 100%;
    padding-top: 1em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
  .dexcarriados {
    padding: 1em 0 1.5em 0;
    height: 100%;
    justify-content: flex-start;
    border-top: .3em #ff1818 solid;
    border-bottom: .3em #ff1818 solid;
    justify-content: flex-start;
  }
  .dexcarriados-answer {
    font-size: 2.2em;
    padding: .1em 0;
    text-align: center;
  }
  .dexcarriados-ul {
    padding-top: .2em;
  }
  .dexcarriados-item{
    font-size: 1.5em;
    padding: .7em 0 .5em 0.5em;
    text-align: justify-all;
  }
  .dexcarriados-btn {
    padding: .5em 2em;
    font-size: 1.6em;
    text-align: justify-all;
  }
}

/*****************************************  MOBILE STYLES  ********************************************/

@media (min-width: 15em) and (max-width: 39.9em){
  .carousel-container {
    height: 100%;
    padding-top: 4em;
  }
  .carousel-subcontainer {
    display: flex;
    flex-direction: column;
  }
  .carousel {
    height: 100vh;
    justify-content: center;
  }
  .carousel-title {
    font-family: 'Inter', cursive;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
  }
  .carousel-span {
    font-size: 1em;
    font-family: 'Inter', cursive;
    font-style: normal;
    color: #000000;
    text-shadow: 1px 1px 2px #000000;
  }
  .carousel

-image {
    width: 90vw;
    height: 50vh;
  }
  .carousel-title-scroll {
    width: 100%;
    padding-top: 1em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
  .dexcarriados-mobile-btn {
    display: block;
    border: none;
    outline: none;
    font-family: 'Raleway', cursive;
    padding: .5em 2em;
    font-size: 1.2em;
    border-radius: 2em;
    margin-top: 1em;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.7s;
  }
  .dexcarriados {
    padding: 1em 0 1.5em 0;
    height: 100%;
    justify-content: flex-start;
    border-top: .3em #ff1818 solid;
    border-bottom: .3em #ff1818 solid;
  }
  .dexcarriados-answer {
    font-size: 1.5em;
    padding: 0.25em 0;
    text-align: justify-all;
  }
  .dexcarriados-ul {
    padding-left: 2em;
    padding-top: .7em;
  }
  .dexcarriados-item{
    font-size: 1.3em;
    padding: .5em 0 1em 0.5em;
    text-align: justify-all;
  }
  .dexcarriados-btn {
    padding: .5em 2em;
    font-size: 1.3em;
    text-align: justify-all;
  }
}


/**************************/

/* GENERAL */
.background-rosa {
  transition: .35s;
  background-color: #fb7bbb !important;
}
.background-rosa .option-bio-container .option-name {
  color: var(--letter) !important;
  text-shadow: 0.5px 0.5px 2px #000000;
}

.background-azul {
  transition: .35s;
  background-color: #0454fb  !important;
}
.background-azul .option-bio-container .option-name {
  color: var(--letter) !important;
  text-shadow: 0.5px 0.5px 2px #000000;
}

/*** DESKTOP STYLES ****/

.form-container {
  padding-top: 5em;
  height: 100vh;
}

.form-top {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-input {
  width: 40vw;
  font-size: 1.7em;
  margin: 0.25em 0 0.25em 0.8em;
  outline: none;
  border: none;
  padding: 0.3em;
  background-color: var(--bg_dark);
  color: var(--letter);
  border-radius: .5em;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
}

.info-input::placeholder {
  color: var(--letter);
}

.info-textarea {
  border-radius: .5em;
  resize: none;
  width: 40vw;
  height: 7.77em;
  font-size: 1.7em;
  padding: 0.3em;
  margin: 0.25em 0 0.25em 0.8em;
  outline: none;
  border: none;
  background-color: var(--bg_dark);
  color: var(--letter);
  border-bottom: .23em #00ff00 solid;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
}

.info-textarea::placeholder {
  color: var(--letter);
}

.option-choose-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: .5em 2em;
  grid-template-columns: repeat(3, 1fr);
}
.option-container .option-info-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .25em;
  padding: .9em;
  background-color: var(--bg_dark);
  border-radius: 1em;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
}
.option-container .option-info-container .option-image {
  width: 6em;
  border-radius: 100%;
}
.option-container .option-info-container .option-nationality {
  width: 1.7em;
}
.option-container .option-info-container .option-bio-container {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-container .option-info-container .option-bio-container .option-checkbox {
  transform: scale(1.5);
  margin: 0 0.25em;
}
.option-container .option-info-container .option-bio-container .option-name {
  font-size: 1.7em;
  color: var(--letter);
  margin: 0 0.25em;
}

.form-bottom {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.btn-form {
  outline: none;
  border: none;
  padding: .5em 2.2em;
  margin: 0.55em 1em;
  font-size: 1.7em;
  border-radius: 2em;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.5s;
}

.btn-clear {
  background-color: #9b3838;
  color: var(--letter);
  text-shadow: 0.5px 0.5px 2px #000000;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
}

.btn-send {
  background-color: var(--green);
  color: var(--letter);
  text-shadow: 0.5px 0.5px 2px #000000;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
}

.btn-custom {
  text-align: center;
  background-color: #3b6286;
  color: var(--letter);
  text-shadow: 0.5px 0.5px 2px #000000;
  box-shadow: 0 0 .13em 0 rgba(0, 0, 0, 4);
  padding: .5em 2.2em;
  margin: 0.55em 1em;
  font-size: 1.7em;
  border-radius: 2em;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.btn-clear:hover {
  opacity: 1;
}

.btn-send:hover {
  opacity: 1;
}

.btn-custom:hover {
  opacity: 1;
}

.info-input.empty {
  transition: 0.5s;
  border-bottom: .23em #ff0000 solid;
}

.info-input.valid {
  transition: 0.5s;
  border-bottom: .23em #00ff00 solid;
}

/*************************************  NOTEBOOK/TABLET STYLES  ****************************************/

@media (min-width: 40em) and (max-width: 70em){
  .form-container {
    width: 100vw;
  }
  form {
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
  }
  .form-top {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info-input {
    width: 90vw;
    height: 10vh;
    font-size: 1.25em;
    margin: 0.4em 0;
    background-color: var(--bg_dark);
    color: var(--letter);
  }
  .info-textarea {
    width: 90vw;
    height: 9em;
    font-size: 1.25em;
    padding: 0.3em;
    margin: 0.4em 0;
    outline: none;
    border: none;
    background-color: var(--bg_dark);
    color: var(--letter);
    border-bottom: .3em #00ff00 solid;
  }
  .info-textarea::placeholder {
    color: var(--letter);
  }
  .option-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .option-choose-subtitle {
    font-size: 1.6em;
    text-align: center;
  }
  .option-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .form-bottom {
    padding-top: 19em;
    flex-direction: column;
  }
}

/*****************************************  MOBILE STYLES  ********************************************/

@media (min-width: 15em) and (max-width: 39.9em){
  .form-container {
    width: 100vw;
  }
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .form-top {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info-input {
    width: 90vw;
    height: 10vh;
    font-size: 1.25em;
    margin: 0.4em 0;
    background-color: var(--bg_dark);
    color: var(--letter);
  }
  .info-textarea {
    width: 90vw;
    height: 9em;
    font-size: 1.25em;
    padding: 0.3em;
    margin: 0.4em 0;
    outline: none;
    border: none;
    background-color: var(--bg_dark);
    color: var(--letter);
    border-bottom: .3em #00ff00 solid;
  }
  .info-textarea::placeholder {
    color: var(--letter);
  }
  .option-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .option-choose-subtitle {
    font-size: 1.6em;
    text-align: center;
  }
  .option-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info-input {
    width: 90vw;
    height: 10vh;
    font-size: 1.25em;
    margin: 0.4em 0;
    background-color: var(--bg_dark);
    color: var(--letter);
  }
  .info-textarea {
    width: 90vw;
    height: 9em;
    font-size: 1.25em;
    padding: 0.3em;
    margin: 0.4em 0;
    outline: none;
    border: none;
    background-color: var(--bg_dark);
    color: var(--letter);
    border-bottom: .3em #00ff00 solid;
  }
  .info-textarea::placeholder {
    color: var(--letter);
  }
  .option-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .option-choose-subtitle {
    font-size: 1.6em;
    text-align: center;
  }
  .form-bottom {
    margin-top: 115vh;
    flex-direction: column;
  }
}
